.corpo{
    background-color: cadetblue;
}

.cabecalho{
    border: solid 3px #570303;
    color: white;
    text-align: center;
}
p{
    text-align:center;
    color:red;
    
}
#imagem1{
    width: 500px;
}

.conteudo-listas{
    background-color: #CCCCCC;
    color: black;
    text-decoration: italic;
}

.rodape{
    background-color: black;
    color: cornflowerblue;
    text-align: center;
    border: double 2px white;
}